# 0314 Data Mining class

In [1]:
import pandas as pd

In [2]:
housing_df = pd.read_csv('https://raw.githubusercontent.com/reisanar/datasets/master/WestRoxbury.csv')
housing_df.shape

(5802, 14)

In [3]:
housing_df.head()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None

In [4]:
housing_df = housing_df.rename(columns = {'TOTAL VALUE ':'TOTAL_VALUE'})
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [5]:
housing_df.columns = [s.strip().replace(" ",'_') for s in housing_df.columns]
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [6]:
housing_df.loc[0:3]    # loc의 경우 슬라이스의 두 번째 인덱스가 포함_index id 0~3

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None

In [7]:
housing_df.iloc[0:3]     # iloc 의 경우 슬라이스의 두 번째 인덱스 제외_index id 0~2

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None

# Total value의 처음 10개 값을 표시하는 다양한 방법

In [8]:
housing_df['TOTAL_VALUE'].iloc[0:10]

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [9]:
housing_df.iloc[0:10]['TOTAL_VALUE']

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [10]:
housing_df.iloc[0:10].TOTAL_VALUE

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

# 처음 10개 열의 다섯 번쨰 행 표시

In [11]:
housing_df.iloc[4][:10]

TOTAL_VALUE    331.5
TAX             4170
LOT_SQFT        5000
YR_BUILT        1910
GROSS_AREA      2370
LIVING_AREA     1438
FLOORS           2.0
ROOMS              7
BEDROOMS           3
FULL_BATH          2
Name: 4, dtype: object

In [12]:
housing_df.iloc[4, 0:10]

TOTAL_VALUE    331.5
TAX             4170
LOT_SQFT        5000
YR_BUILT        1910
GROSS_AREA      2370
LIVING_AREA     1438
FLOORS           2.0
ROOMS              7
BEDROOMS           3
FULL_BATH          2
Name: 4, dtype: object

In [13]:
housing_df.iloc[4:5, 0:10]    # 데이터프레임 형식을 유지하려면 행에 슬라이스 사용

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2

# 전체 열

In [14]:
housing_df.iloc[:, 0:1]

      TOTAL_VALUE
0           344.2
1           412.6
2           330.1
3           498.6
4           331.5
...           ...
5797        404.8
5798        407.9
5799        406.5
5800        308.7
5801        447.6

[5802 rows x 1 columns]

In [15]:
housing_df['TOTAL_VALUE']

0       344.2
1       412.6
2       330.1
3       498.6
4       331.5
        ...
5797    404.8
5798    407.9
5799    406.5
5800    308.7
5801    447.6
Name: TOTAL_VALUE, Length: 5802, dtype: float64

# 기술 통계

In [16]:
housing_df.describe()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

In [17]:
print('Number of Rows ', len(housing_df['TOTAL_VALUE']))
print('Mean of TOTAL_VALUE ', housing_df['TOTAL_VALUE'].mean())

Number of Rows  5802
Mean of TOTAL_VALUE  392.6857149258885

In [18]:
housing_df['TOTAL_VALUE'].describe()

count    5802.000000
mean      392.685715
std        99.177414
min       105.000000
25%       325.125000
50%       375.900000
75%       438.775000
max      1217.800000
Name: TOTAL_VALUE, dtype: float64

## 데이터 전처리와 데이터 정제

In [19]:
# 판다스 활용 변수 특성 파악
# REMODEL 열을 factor 이기 떄문에 데이터 타입 변경
print(housing_df.REMODEL.dtype)
housing_df.REMODEL = housing_df.REMODEL.astype('category')
print(housing_df.REMODEL.cat.categories)
print(housing_df.REMODEL.dtype)    # 'category' 타입

object
Index(['None', 'Old', 'Recent'], dtype='object')
category

In [20]:
housing_df.dtypes

TOTAL_VALUE     float64
TAX               int64
LOT_SQFT          int64
YR_BUILT          int64
GROSS_AREA        int64
LIVING_AREA       int64
FLOORS          float64
ROOMS             int64
BEDROOMS          int64
FULL_BATH         int64
HALF_BATH         int64
KITCHEN           int64
FIREPLACE         int64
REMODEL        category
dtype: object

### 범주형 변수 처리
* 범주형 변수 값에 순위가 있는 경우(연령구간, 신용 등급)에는 연속형 변수로 간주
* 범주에 순위가 없다면 변수를 가변수로 바꿔서 사용하기도 함

# 판다스 이용한 가변수 생성

In [21]:
# drop_first = True 첫 번쨰 더미 변수 삭제
housing_df = pd.get_dummies(housing_df, prefix_sep = '_', drop_first = True)
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL_Old', 'REMODEL_Recent'],
      dtype='object')

In [22]:
print(housing_df.loc[:, 'REMODEL_Old':'REMODEL_Recent'].head())

   REMODEL_Old  REMODEL_Recent
0            0               0
1            0               1
2            0               0
3            0               0
4            0               0

### 변수 선택
* 신뢰성이 높은 모델을 구축하려면 꼭 필요한 변수만 사용하는 것이 바람직
* 변수를 너무 많이 사용할 경우 변수 간의 상관관계를 고려해야 하고 더 많은 수의 관측치 필요
* 변수가 너무 많은 모델은 미래 값을 예측하는 데 데이터가 더 많이 필요하고 전처리 작업도 증가해 강건하지 않음

### 필요 변수와 관측치 수
* 적절한 변수를 포함시키는 작업은 모델 구축 시 매우 중요
* 꼭 필요한 변수만 사용해야 간결한 모델 구축 가능하고, 간결한 모델이 결국 훌륭한 모델
* 방대한 데이터에서 모델에 어떤 변수를 포함할지는 매우 중요
* 도메인 지식이 있는 사람에게서 얻는 정보는 변수 포함 여부를 결정할 때 중요하고 모델의 정확도를 높이고 오차를 줄이는 데 도움

### 변수 선택
* 신뢰성이 높은 모델을 구축하려면 꼭 필요한 변수만 사용하는 것이 바람직
* 변수를 너무 많이 사용할 경우 변수 간의 상관관계를 고려해야 하고 더 많은 수의 관측치 필요
* 변수가 너무 많은 모델은 미래 값을 예측하는 데 데이터가 더 많이 필요하고 전처리 작업도 증가해 강건하지 않음

### 필요 변수와 관측치 수
* 적절한 변수를 포함시키는 작업은 모델 구축 시 매우 중요
* 꼭 필요한 변수만 사용해야 간결한 모델 구축 가능하고, 간결한 모델이 결국 훌륭한 모델
* 방대한 데이터에서 모델에 어떤 변수를 포함할지는 매우 중요
* 도메인 지식이 있는 사람에게서 얻는 정보는 변수 포함 여부를 결정할 때 중요하고 모델의 정확도를 높이고 오차를 줄이는 데 도움

### 이상치
* 측정 오류나 잘못된 입력으로 인해 이상치 발생 가능
* 기존 데이터로부터 멀리 떨어진, 통상 평균으로부터 표준편차의 세 배가 넘는 범위의 데이터
* 통계 기법으로 이상치의 후보를 찾고 최종 이상치 판정은 실무자들이 하는 것이 바람적
* 변수별 값들을 내림차순으로 정렬하고 이들 중 가장 크거나 작은 수치들을 이상치로 판정, 군집 분석을 이용해 다른 데이터들과 일정거리 이상 떨어진 데이터를 이상치로 판정
* 이상치의 개수가 매우 적은 경우에는 결측치로 판정 가능

### 결측치
* 변수가 많은 경우, 결측치를 단순 삭제하면 결측치가 데이터에서 차지하는 비율이 낮더라도 많은 관측치에 영향을 미칠 수 있음
* 결측치가 있는 관측치를 삭제하기보다 기존 데이터를 이용해 대체할 수 있음
* 간단한 결측치 대체값ㅇㄴ 평균, 중앙값 등, 좀 더 정교한 대체값은 회귀 분석을 이용
* 데이터가 충분히 많을 경우, 복잡한 결측치 처리법보다는 간단한 방법 선호
* 이 경우에는 변수의 중요도를 측정하여 해당 변수가 예측에 미치는 영향력이 미미하다면 그 변수를 삭제하고 그렇지 않다면 결측치가 적게 존재하는 변수의 정보를 이용해 결측치를 대체하는 것이 좋음
* 정말 중요한 변수의 결측치를 해결하는 근본적인 방법은 실제값을 얻는 것

# 0320_데이터마이닝
## 2주차 강의록

### 예측력과 과적합
#### 과적합
* 모델은 반응 변수와 예측 변수 간의 상관관계를 잘 설명하고 미래 값을 정확히 예측해야 함
* 현재 데이터를 잘 설명하는 것도 중요하지만 더 중요한것은 미래  값에 대한 정확한 예측
* 현재 데이터에 '과하게 적합' 된 것을 '과적합' 이라 함
* 현 데이터의 성능만 고려해 불필요하게 포함된 변수들은 과적합을 유발할 수 있음
* 관측치 수가 변수 개수보다 적을 경우 엉뚱한 관계가 모델에 반영될 수 있어 학습 데이터가 충분하지 안흘 경우에는 간단한 함수로 표현된 모델이 더 좋은 성능을 보일 때가 많음
* 가장 성능이 좋은 모델을 선택하는 괒어에서 너무 많은 모델을 사용할 때도 과적합이 발생할 수 있음

### 데이터 분할
#### 모델의 성능이 좋은 경우
* 선택한 모델의 우수성
* 선택한 모델이 현재 사용된 데이터에 (우연히) 잘 맞음 -> 심각한 문제 초래

#### 데이터를 학습 데이터, 검증 데이터, 테스트 데이터로 나누어 모델 검증
* 학습(훈련. training) : 모델 구축 시 사용. 여러 모델을 비교할 경우 동일한 학습 데이터를 사용
* 검증(validation) 데이터 : 학습 데이터로부터 구축된 여러 모델의 성능을 비교할 때 사용. 몇몇 알고리즘(의사결정 트리, k-최근접 이웃)에서는 검증 데이터를 이용해 모델의 하이퍼 파라미터를 결정하기도 함
* 테스트(평가, 시험, testing) 데이터 : 구축된 모델이 향후 수집될 새로운 데이터에 대해 얼마만큼 예측/분류 성능을 보일지 평가할 때 쓰임

#### 모델 구축 -> 모델 평가 -> 모델 재평가(선택) -> 최종 모델을 사용한 예측/분류

In [23]:
# 데이터 분할
# 웨스트 록스베리 데이터를 학습/검증/시험 데이터로 분할

In [27]:
# random_state는 코드를 다시 실행할 때 동일한 파티션을 얻기 위해 정의된 값으로 설정
# 훈련 60% 검증 40%
trainData = housing_df.sample(frac = 0.6, random_state = 1)

# 훈련 세트에 아직 없는 행을 검증에 할당
validData = housing_df.drop(trainData.index)

print('Training : ', trainData.shape)
print('Validation : ', validData.shape)
print()

Training :  (3481, 15)
Validation :  (2321, 15)

In [30]:
# scikit-learn을 사용하는 다른 방법
from sklearn.model_selection import train_test_split

trainData, validData = train_test_split(housing_df, test_size = 0.40, random_state = 1)
print('Training : ', trainData.shape)
print('Validation : ', validData.shape)
print()

Training :  (3481, 15)
Validation :  (2321, 15)

In [31]:
# 학습을 위해 행  ID 의 50%를 무작위로 샘플링
trainData = housing_df.sample(frac = 0.5, random_state = 1)
# 행 ID 의 80%를 검증 세트로 샘플링하여 레코드에서만 가져옴
# 50%dml 60%는 30% -> 검증 데이터로 활용
validData = housing_df.drop(trainData.index).sample(frac = 0.6, random_state = 1)
# 나머지 20%를 테스트 데이터로 활용
testData = housing_df.drop(trainData.index).drop(validData.index)

print('Training : ', trainData.shape)
print('Validation : ', validData.shape)
print('Test : ', testData.shape)
print()

Training :  (2901, 15)
Validation :  (1741, 15)
Test :  (1160, 15)

In [32]:
# scikit-learn을 사용하는 다른 방법
trainData, temp = train_test_split(housing_df, test_size = 0.5, random_state= 1)
validData, testData= train_test_split(temp, test_size = 0.4, random_state = 1)
print('Training : ', trainData.shape)
print('Validation : ', validData.shape)
print('Test : ', testData.shape)
print()

Training :  (2901, 15)
Validation :  (1740, 15)
Test :  (1161, 15)

### 모델 구축 : 선형 회귀 분석을 이용한 예제
#### 모델링 과정
1. 목적 웨스트 록스베리 지역 주택 가격을 예측
2. 데이터셋 획득 2014년 웨스트 록스베리 주택 가격 데이터셋을 이용할 것이며, 전체 데이터의 수가 많지 않아 별도의 표본을 취하지 않았다
3. 데이터 탐색/정제/전처리
4. 데이터 축소
5. 데이터 마이닝 문제 결정
6. 데이터 분할(지도 학습용)
7. 데이터 마이닝 기법 선택

In [33]:
# 8. 알고리즘 사용해 과제 수행

!pip install data

Collecting data
  Downloading data-0.4.tar.gz (7.0 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from data) (1.16.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from data) (5.1.1)
Collecting funcsigs
  Downloading funcsigs-1.0.2-py2.py3-none-any.whl (17 kB)
Building wheels for collected packages: data
  Building wheel for data (setup.py): started
  Building wheel for data (setup.py): finished with status 'done'
  Created wheel for data: filename=data-0.4-py3-none-any.whl size=7227 sha256=107d1586b81cc74bb684483eb5639dbc7ff03f83b467026fa191614069a66c1d
  Stored in directory: c:\users\ddwu\appdata\local\pip\cache\wheels\8a\0b\a3\37ca07d5a2838bba2e475e8090455e40b94631bd57a99a35f4
Successfully built data
Installing collected packages: funcsigs, data
Successfully installed data-0.4 funcsigs-1.0.2

In [ ]:
# 학습 데이터 일부에 대한 예측
# 웨스트 록스베리 학습 데이터를 사용해 모델 구축