# Datamining hw #1

In [56]:
# fuel type 변수와 Color 변수를 가변수로 변환
import pandas as pd
import numpy as np
toyota_df = pd.read_csv('C:/Users/User/Desktop/대학/23-1/ToyotaCorolla.csv')
toyota_df.head()

,model,price,age_08_04,mfg_month,mfg_year,km,fuel_type,hp,met_color,color,...,powered_windows,power_steering,radio,mistlamps,sport_model,backseat_divider,metallic_rim,radio_cassette,parking_assistant,tow_bar
0,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,0,0,0,1,0,0,0,0
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,...,0,1,0,0,0,1,0,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,1,0,0,0,1,0,0,0,0
3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,1,0,0,0,1,0,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,Black,...,1,1,0,1,0,1,0,0,0,0

In [57]:
toyota_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              1436 non-null   object
 1   price              1436 non-null   int64
 2   age_08_04          1436 non-null   int64
 3   mfg_month          1436 non-null   int64
 4   mfg_year           1436 non-null   int64
 5   km                 1436 non-null   int64
 6   fuel_type          1436 non-null   object
 7   hp                 1436 non-null   int64
 8   met_color          1436 non-null   int64
 9   color              1436 non-null   object
 10  automatic          1436 non-null   int64
 11  cc                 1436 non-null   int64
 12  doors              1436 non-null   int64
 13  cylinders          1436 non-null   int64
 14  gears              1436 non-null   int64
 15  quarterly_tax      1436 non-null   int64
 16  weight             1436 non-null   int64
 17  mfr_guarantee      1436 non-null   int64
 18  bovag_guarantee    1436 non-null   int64
 19  guarantee_period   1436 non-null   int64
 20  abs                1436 non-null   int64
 21  airbag_1           1436 non-null   int64
 22  airbag_2           1436 non-null   int64
 23  airco              1436 non-null   int64
 24  automatic_airco    1436 non-null   int64
 25  boardcomputer      1436 non-null   int64
 26  cd_player          1436 non-null   int64
 27  central_lock       1436 non-null   int64
 28  powered_windows    1436 non-null   int64
 29  power_steering     1436 non-null   int64
 30  radio              1436 non-null   int64
 31  mistlamps          1436 non-null   int64
 32  sport_model        1436 non-null   int64
 33  backseat_divider   1436 non-null   int64
 34  metallic_rim       1436 non-null   int64
 35  radio_cassette     1436 non-null   int64
 36  parking_assistant  1436 non-null   int64
 37  tow_bar            1436 non-null   int64
dtypes: int64(35), object(3)
memory usage: 426.4+ KB

In [58]:
toyota_df.columns

Index(['model', 'price', 'age_08_04', 'mfg_month', 'mfg_year', 'km',
       'fuel_type', 'hp', 'met_color', 'color', 'automatic', 'cc', 'doors',
       'cylinders', 'gears', 'quarterly_tax', 'weight', 'mfr_guarantee',
       'bovag_guarantee', 'guarantee_period', 'abs', 'airbag_1', 'airbag_2',
       'airco', 'automatic_airco', 'boardcomputer', 'cd_player',
       'central_lock', 'powered_windows', 'power_steering', 'radio',
       'mistlamps', 'sport_model', 'backseat_divider', 'metallic_rim',
       'radio_cassette', 'parking_assistant', 'tow_bar'],
      dtype='object')

In [59]:
toyota_df['fuel_type'].unique()

array(['Diesel', 'Petrol', 'CNG'], dtype=object)

In [60]:
# fuel_type 열은 factor 이기 때문에 data type 변경
print(toyota_df.fuel_type.dtype)
toyota_df.fuel_type = toyota_df.fuel_type.astype('category')
print(toyota_df.fuel_type.cat.categories)
print(toyota_df.fuel_type.dtype)

object
Index(['CNG', 'Diesel', 'Petrol'], dtype='object')
category

In [61]:
toyota_df['color'].unique()

array(['Blue', 'Silver', 'Black', 'White', 'Grey', 'Red', 'Green',
       'Yellow', 'Violet', 'Beige'], dtype=object)

In [62]:
print(toyota_df.color.dtype)
toyota_df.color = toyota_df.color.astype('category')
print(toyota_df.color.cat.categories)
print(toyota_df.color.dtype)

object
Index(['Beige', 'Black', 'Blue', 'Green', 'Grey', 'Red', 'Silver', 'Violet',
       'White', 'Yellow'],
      dtype='object')
category

In [63]:
# 더미 변수 만들기
toyota_df = pd.get_dummies(toyota_df, columns = ['fuel_type', 'color'])
toyota_df.head()

,model,price,age_08_04,mfg_month,mfg_year,km,hp,met_color,automatic,cc,...,color_Beige,color_Black,color_Blue,color_Green,color_Grey,color_Red,color_Silver,color_Violet,color_White,color_Yellow
0,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,90,1,0,2000,...,0,0,1,0,0,0,0,0,0,0
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,90,1,0,2000,...,0,0,0,0,0,0,1,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,90,1,0,2000,...,0,0,1,0,0,0,0,0,0,0
3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,90,0,0,2000,...,0,1,0,0,0,0,0,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,90,0,0,2000,...,0,1,0,0,0,0,0,0,0,0

In [64]:
# 학습/검증/시험 데이터 분할 5:3:2
from sklearn.model_selection import train_test_split
trainData, temp = train_test_split(toyota_df, test_size = 0.5, random_state = 1)
validData = toyota_df.drop(trainData.index).sample(frac = 0.6, random_state = 1)
testData = toyota_df.drop(trainData.index).drop(validData.index)

print('trainData : ', trainData.shape)
print('validData : ', validData.shape)
print('testData : ', testData.shape)

trainData :  (718, 49)
validData :  (431, 49)
testData :  (287, 49)

* 학습 데이터 : 모델 구축 시 사용하는 데이터
* 검증 데이터 : 모델 구축 후 검증을 위해 사용하는 데이터
* 평가 데이터 : 모델 구축 후 새로운 데이터에 대한 성능을 평가하는 데이터

In [66]:
# 학습 데이터 준비
X_train = trainData.drop(['model', 'price'], axis=1)
y_train = trainData['price']

In [70]:
# 모델 학습
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [71]:
# 검증 데이터 준비
X_val = validData.drop(['model', 'price'], axis=1)
y_val = validData['price']

# 검증 데이터로 성능 평가
score = model.score(X_val, y_val)
print('Validation Score:', score)

Validation Score: 0.8988025106893486

In [74]:
# 테스트 데이터 준비
X_test = testData.drop(['model', 'price'], axis=1)
y_test =testData['price']

# 테스트 데이터로 성능 평가
score = model.score(X_test, y_test)
print('Test Score:', score)

Test Score: -0.5587031760034362